.fo-input-label, .fo-md-label, input.fo-input {
  @apply block text-gray-600 ;
}

.fo-input-wrap-default {
  @apply space-y-3;
  .fo-input-label {
    @apply font-bold text-sm;
  }
}

//@import "input-label-size";
//@import "text-field-wrap";
.fo-text-input {
  @apply relative w-full;
  //.fo-input {
  //  @apply w-full relative z-20 border-0 outline-0 h-full shadow-none drop-shadow-none appearance-none focus:outline-0 focus:border-0 focus:outline-offset-0 focus:shadow-none focus-visible:outline-0 focus-visible:border-0 focus-visible:outline-offset-0 focus-visible:shadow-none;
  //}

  input,
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="week"],
  textarea,
  select,
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    &.fo-input {
      @apply bg-transparent  align-middle leading-none placeholder-gray-300 w-full relative z-20 border-0 outline-0 h-full shadow-none drop-shadow-none appearance-none focus:outline-0 focus:border-0 focus:outline-offset-0 focus:shadow-none focus-visible:outline-0 focus-visible:border-0 focus-visible:outline-offset-0 focus-visible:shadow-none;

      &:focus-visible {
        outline: none;
      }
    }
  }

  &.fo-input-small{
    //height: 1.4375em;
    //padding: 8.5px 14px;
    input,textarea{
      &.fo-input{
        @apply px-4 py-3 text-sm h-8;
      }
    }
  }


  &.fo-input-normal {
    input,textarea{
      &.fo-input{
        @apply text-base h-11 px-4 py-4;
      }
    }
  }

  &.fo-input-large {
    input,textarea{
      &.fo-input{
        @apply text-lg h-14 px-4 py-4;
      }
    }
  }
  //@import "input-size";

  @import "input-default";
  //@import "input-material";

}


.fo-input-material {
  @apply relative;
  .fo-md-label {
    @apply absolute transform appearance-none  top-0 left-0 line-clamp-1 max-w-full inline-flex origin-top-left;
    transition: color .2s cubic-bezier(0, 0, .2, 1) 0ms, transform .2s cubic-bezier(0, 0, .2, 1) 0ms;

  }

}
@import "input-material-standard";


.fo-input-material.fo-input-standard.fo-input-material.fo-input-filled{
    .fo-material-line{
      @apply border-b border-gray-300 relative ;
      transition: border-bottom-color ease-in-out,transform .2s cubic-bezier(0,0,.2,1) 0ms;
      &:after{
        content: " ";
        @apply cursor-none absolute left-0 right-0 border-b-2 scale-0 ;
        transition: transform .2s cubic-bezier(0,0,.2,1) 0ms;
        bottom: 0;
      }
    }
}

@import "input-material-outlined";
@import "input-material-filled";
